.cart-header {
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    z-index: 20;
    .container {
        position: relative;
        width: 1226px;
        margin-left: auto;
        margin-right: auto;

        .nav-logo {
        position: absolute;
        width: 62px;
        top: 22px;
        left: 0;

        .logo {
            position: relative;
            display: block;
            width: 48px;
            height: 48px;
            overflow: hidden;
            background: url('https://s02.mifile.cn/assets/static/image/mi-logo.png') no-repeat 50% 50%;
            background-color: #ff6700;
            text-align: center;


            img {
            display: block;
            margin: 0 auto;
            }
        }

        }

        h3 {
        position: absolute;
        top: 25px;
        left: 90px;
        height: 48px;
        line-height: 48px;
        font-size: 28px;
        font-weight: 400;
        color: #424242;
        }

        p{
            position: absolute;
            top: 45px;
            left: 250px;
            color: #757575; 
            height: 20px;
            line-height: 20px;
        }

        .header-right {
        float: right;
        height: 40px;
        line-height: 40px;
        margin: 30px 10px 0 0;
        font-size: 12px;

        a {
            cursor: pointer;
            padding: 0 2px;
            text-align: center;
            display: block;
            font-size: 2px;
            float: left;
            color: #757575;
        }
        }
    }
}
.cart-main {
position: relative;
width: 100%;
overflow: hidden;
z-index: 20;
background: #f5f5f5;
padding: 38px 0;

    .container {
        position: relative;
        width: 1226px;
        margin: 0 auto;

        .cart-top{
            width: auto;
            overflow: hidden;

            ul{
                width: auto;
                padding: 0;
                background-color: #fff;
    
                .first{
                    width: auto;
                    height: 70px;
                    line-height: 70px;
                    padding-right: 26px;
                    color: #424242;
                    display: block;
    
                    .col{
                        display: block;
                        height: 70px;
                        line-height: 70px;
                        color: #424242;
                        float: left;
    
                        &.pro-check{
                            width: 110px;
                        }
                        &.pro-img{
                            width: 120px;
                        }
                        &.pro-name{
                            width: 380px;
                        }
                        &.pro-price{
                            width: 140px;
                            padding-right: 18px;
                            text-align: center;
                        }
                        &.pro-num{
                            width: 150px;
                            text-align: center;
                        }
                        &.pro-total{
                            width: 120px;
                            text-align: right;
                        }
                        &.pro-hidden{
                            width: 81px;
                        }
                        &.pro-action{
                            width: 80px;
                            text-align: center;
                        }
                    }
                }
            }

            .cart-bar{
                width: auto;
                height: 50px;
                line-height: 50px;
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                margin-top: 20px;

                .cart-car-left{
                .continue{
                    line-height: 50px;
                    margin-left: 32px;
                    a{
                        color: #757575 !important;
                    }    
                }
                .cart-total{
                    margin-left: 16px;
                    padding-left: 16px;
                    border-left: 1px solid #eee;
                    color: #757575;

                    .cart-total-num{
                        color: #ff6700;
                    }
                }
                }
                .cart-bar-right{
                    color: #ff6700;

                    .number{
                        font-size: 30px;
                        font-style: normal;
                    }

                    a{
                        width: 200px;
                        height: 48px;
                        line-height: 48px;
                        font-size: 18px;
                        margin-left: 50px;
                        vertical-align: top;
                        color: #fff;
                        background-color: #ff6700;
                        display: inline-block;
                    }
                }
            }
        }
        
        .cart-bottom{
            margin: 60px 0 0;

            h2{
                position: relative;
                margin: 0;
                height: 50px;
                font-size: 30px;
                font-weight: 400;
                color: #757575;
                border-top: 1px solid #e0e0e0;

                span{
                    position: absolute;
                    top: -20px;
                    left: 372px;
                    height: 40px;
                    width: 482px;
                    line-height: 40px;
                    text-align: center;
                    display: block;
                    background-color: #f5f5f5;
                }
            }
            .productList{
                position: relative;
                width: 1240px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;

                ul{
                    display: block;
                    width: inherit;
                    zoom : 1;
                    overflow:auto;
                    li {
                        width: 234px;
                        height: 300px;
                        padding-top: 39px !important;
                        margin: 0 0 14px 14px;
                        overflow: hidden;
                        float: left;
                        text-align: center;
                        background: #fff;
                        -webkit-transition: all .6s;
                        transition: all .6s;
                        position: relative;
                        list-style: none;
                        cursor: pointer;
                        -webkit-transition: all .2s linear;
                        transition: all .2s linear;

                        .thumb {
                            width: 160px;
                            margin: 0 auto 22px;

                            img {
                            width: 160px;
                            height: 160px;
                            }
                        }

                        .content-title {
                            margin: 0 10px 10px;
                            height: 18px;
                            font-size: 14px;
                            font-weight: 400;
                            text-overflow: ellipsis;
                            color: #333 !important;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .price {
                            margin-bottom: 10px;
                            color: #ff6700;
                        }
                        .tips{
                            position: relative;
                            color: #757575;
                        }
                        .btn{
                            display: none;
                            width: 120px;
                            border:1px solid #ff6700;
                            background: #fff;
                            color: #ff6700;
                            height: 28px;
                            font-size: 12px;
                            line-height: 28px;
                            text-align: center;
                            margin: 0 auto;
                        }
                    }
                    li:hover {
                        .tips{
                            display: none;
                        }
                        .btn{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}