.companyMain {
    position: relative;
    width: 100%;
    margin-top: 0;
    z-index: 10;

    .context{
        &.dark-theme{
            background-color: #f5f5f5;

            .breadcrumb{
                position: relative;
                width: 1240px;
                margin-left: auto;
                margin-right: auto;
                text-align: start;
                height:40px;
                line-height: 40px;
                font-size: 12px;
                color: #b0b0b0;

                a{
                    color: #757575;
                }

                .sep{
                    margin: 0 0.5em;
                    color: #b0b0b0;
                }
            }
            .productList{
                position: relative;
                width: 1240px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;
                padding-bottom: 100px;

                ul{
                    display: block;
                    width: inherit;
                    zoom : 1;
                    overflow:auto;
                    li {
                        width: 234px;
                        padding-top: 39px !important;
                        padding-bottom: 39px !important;
                        overflow: hidden;
                        float: left;
                        text-align: center;
                        background: #fff;
                        -webkit-transition: all .6s;
                        transition: all .6s;
                        position: relative;
                        list-style: none;
                        overflow: hidden;
                        margin-left:0 0 14px 14px;
                        cursor: pointer;
                        -webkit-transition: all .2s linear;
                        transition: all .2s linear;
                        color: #757575;

                        .thumb {
                            width: 160px;
                            margin: 0 auto 22px;

                            img {
                                width: 140px;
                                height: 140px;
                                display: block;
                                margin: 40px auto 20px;
                            }
                        }

                        .content-title {
                            margin: 0 20px 3px;
                            font-size: 14px;
                            font-weight: 400;
                            text-overflow: ellipsis;
                            color: #212121 !important;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .desc {
                            height: 18px;
                            margin: 0 20px 12px;
                            font-size: 12px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            _zoom: 1;
                            color: #b0b0b0;
                        }

                        .btn-primary {
                            position: absolute;
                            left: 0;
                            bottom: -38px;
                            transition: bottom .6s;
                            width: 100%;
                            border: 0;
                            height: 38px;
                            line-height: 38px;
                            display: block;
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            text-align: center;
                            cursor: pointer;
                            color: #fff;
                            background: #ff6700;

                        }
                    }
                    li:hover {
                        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
                        -webkit-transform: translate3d(0, -2px, 0);
                        transform: translate3d(0, -2px, 0);
                        .btn-primary{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        .container {
            position: relative;
            width: 1226px;
            margin-left: auto;
            margin-right: auto;

            .swiper-row {
                position: relative;
                margin-top: 0;
                width: 1226px;
                margin-left: auto;
                margin-right: auto;
                height: 460px;

                .swiper-container {
                position: relative;
                width: 1226px;
                height: 460px;
                z-index: 10px;

                img {
                    width: 1226px;
                    height: 460px;
                }

                .swiper-button-prev {
                    width: 30px;
                    height: 50px;
                    margin-left: 240px;
                    color: #ccc;
                }

                .swiper-button-next {
                    width: 30px;
                    height: 50px;
                    color: #ccc;
                }

                .swiper-pagination {
                    width: 100px;
                    height: 30px;
                    position: absolute;
                    bottom: 15px;
                    left: 1100px;
                    color: #ccc;
                }
                }

                .category-item {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 500;
                display: block;
                width: 296px;
                height: 460px;
                border: 0;
                font-size: 14px;

                .category-top {
                    width: inherit;
                    height: 127px;
                    background: rgba(23, 18, 21, 0.66);
                    overflow: hidden;
                    position: relative;

                    img {
                    display: block;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    padding: 2px;
                    border: 1px solid #ccc;
                    margin: 36px 11px 0 46px;
                    float: left;
                    }

                    .top-right {
                    float: left;
                    text-align: left;
                    margin: 30px 0 0 0;
                    width: 170px;
                    height: 58px;
                    vertical-align: middle;

                    h2 {
                        width: 170px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: 16px;
                        font-weight: normal;
                        color: rgba(255, 255, 255, 0.9);
                        margin-top: 10px;
                    }

                    p {
                        margin-top: 0;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.77);
                        cursor: pointer;
                    }
                    }


                }

                .category-bottom {
                    width: inherit;
                    height: 333px;
                    background: rgba(23, 18, 21, 0.86);

                    h3 {
                    padding-top: 28px;
                    font-size: 16px;
                    text-align: center;
                    color: #fff;
                    }

                    ul {
                    display: block;
                    margin: 20px 0 0 60px;
                    height: auto;
                    width: 236px;

                    li {
                        width: 236px;
                        height: 38px;
                        margin-bottom: 5px;

                        .img {
                        float: left;
                        width: 23px;
                        height: 25px;
                        margin-top: 2px;

                        &.img1 {
                            background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -23px center no-repeat;
                        }

                        &.img2 {
                            background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) 0 center no-repeat;
                        }

                        &.img3 {
                            background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -46px center no-repeat;
                        }

                        &.img4 {
                            background: url(https://c1.mifile.cn/f/i/17/qiye/sprite.png) -69px center no-repeat;
                        }
                        }

                        .bottom-right {
                        float: left;
                        width: 120px;
                        margin-left: 18px;
                        text-align: left;

                        h2 {
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.9)
                        }

                        p {
                            margin-top: -2px;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.6);
                        }
                        }
                    }
                    }

                    .rule {
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    width: inherit;
                    opacity: .8;
                    margin: 30px auto;
                    color: #fff;

                    }
                }
                }
            }

            .home-row {
                width: inherit;
                height: 170px;
                margin: 20px 0 30px 0;
                background-color: #fff;

                .home-img {
                width: inherit;
                display: block;
                float: left;

                li {
                    height: 170px;
                    width: 295px;
                    float: left;
                    margin-right: 15px;

                    img {
                    width: 100%;
                    display: block;
                    }

                    &:nth-child(4) {
                    margin-right: 0;
                    }
                }




                }
            }
        }

        .commodity {
            position: relative;
            width: inherit;
            background: #f5f5f5;
            padding-bottom: 50px;
            padding-top: 50px;

            .home-brick {
                position: relative;
                width: 1240px;
                height: 440px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -20px;

                h2 {
                    width: inherit;
                    height: 58px;
                    line-height: 58px;
                    font-weight: 200;
                    font-size: 22px;
                    text-align: start;
                    color: #333;
                    position: relative;
                    padding-left: 8px;

                    .all {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 10px;
                        width: 92px;
                        height: 58px;
                        line-height: 58px;
                        font-size: 16px;
                        color: #424242;

                        i {
                            width: 12px;
                            height: 12px;
                            margin-left: 8px;
                            border-radius: 16px;
                            font-size: 12px;
                            line-height: 12px;
                            background: #b0b0b0;
                            color: #fff;
                            vertical-align: 1px;
                            -webkit-transition: all .4s;
                            transition: all .4s;
                        }

                        a:hover {
                            color: #ff6709 !important;
                            cursor: pointer;
                        }
                        
                    }
                }

                .box-main {
                    width: 1240px;
                    margin:14px 0 0 -8px;

                    li {
                        width: 234px;
                        padding-top: 39px !important;
                        padding-bottom: 39px !important;
                        overflow: hidden;
                        float: left;
                        text-align: center;
                        background: #fff;
                        -webkit-transition: all .6s;
                        transition: all .6s;
                        position: relative;
                        list-style: none;
                        overflow: hidden;
                        margin-left: 14px;
                        cursor: pointer;
                        -webkit-transition: all .2s linear;
                        transition: all .2s linear;
                        color: #757575;

                        .thumb {
                            width: 160px;
                            margin: 0 auto 22px;

                            img {
                            width: 160px;
                            height: 160px;
                            }
                        }

                        .content-title {
                            margin: 0 20px 3px;
                            font-size: 14px;
                            font-weight: 400;
                            text-overflow: ellipsis;
                            color: #212121 !important;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .desc {
                            height: 18px;
                            margin: 0 20px 12px;
                            font-size: 12px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            _zoom: 1;
                            color: #b0b0b0;
                        }

                        .btn-primary {
                            position: absolute;
                            left: 0;
                            bottom: -38px;
                            transition: bottom .6s;
                            width: 100%;
                            border: 0;
                            height: 38px;
                            line-height: 38px;
                            display: block;
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            text-align: center;
                            cursor: pointer;
                            color: #fff;
                            background: #ff6700;

                        }
                    }

                    .el-dialog{ 
                        width: 700px;
                        height:400px;
                        margin-top: 5vh !important;
                        overflow-x: hidden;
                        overflow-y: auto;
                        background: #fff;
                        padding: 30px;
                        margin:initial;
                        text-align: start !important;
                        font-size: 14px;
    
                        div{
    
                            h2{
                                margin: 0;
                                font-size: 1.5em;
                                width: inherit;
                                text-align: center;
                                font-weight: bold;
                            }
    
                            p{
                                margin-top: 15px;
                                margin-bottom: 30px;
                                width: inherit;
                                text-align: center;
                                font-weight: 400;
                            }
                        }
                    
                    }

                    li:hover {
                        box-shadow: 0 15px 30px rgba(0,0,0,0.1);
                        -webkit-transform: translate3d(0, -2px, 0);
                        transform: translate3d(0, -2px, 0);
                        .btn-primary{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
            

            .process{
                width: inherit;

                .container{
                    position: relative;
                    width: 1226px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 50px;
                    background-color: #fff;
                    padding-bottom: 60px;
                    margin-top: -20px;

                    h2{
                        font-size: 35px;
                        line-height: 1;
                        margin: 0;
                        padding: 0;
                        color: #424242;
                    }

                    p{
                        font-size: 14px;
                        margin: 1em 0;
                    }

                    .step{
                        background: url(https://c1.mifile.cn/f/i/16/qiye2016/step.jpg) 50% 0 no-repeat;
                        width: 758px;
                        height: 104px;
                        margin: 56px auto 20px;
                    }
                }

                a{
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 20px;
                    color: #757575;
                    padding-bottom: 60px;
                }

                a:hover{
                    color: #ff6700;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    font-size: 12px;


    .list-service{
        width: 100%;
        padding: 57px 0;
        background-color: #fff;

        .container{
            position: relative;
            width: 1226px;
            height: 41px;
            margin-left: auto;
            margin-right: auto;

            a{
                width: 25%;
                float: left;
                display: block;
                text-align: center;
                font-size: 16px;
                height: 41px;
                line-height: 41px;
                color: #616161;
                transition: color .2s;
                border-right: 1px solid #e0e0e0;


                i{
                    margin-right: 6px;
                    font-size: 24px;
                    line-height: 24px;
                    vertical-align: -4px;

                    &.big {
                        font-size: 18px !important;
                        vertical-align: -2px !important;
                    }
                    &.small {
                        font-size: 26px !important;
                        vertical-align: -6px !important;
                    }
                }
               
                &.last{
                    border-right: none;
                }
            }

            
        }
    }

    .info-text{
        padding: 30px 0;
        background-color: #fafafa;
        .container{
            position: relative;
            width: 1226px;
            margin-left: auto;
            margin-right: auto;

            .nav-logo {
                width: 57px;
                height: 57px;
                position: absolute;
                left: 0;
                top: 0;

                .logo {
                position: relative;
                display: block;
                width: 55px;
                height: 55px;
                overflow: hidden;
                background: url('https://s02.mifile.cn/assets/static/image/mi-logo.png') no-repeat 50% 50%;
                background-color: #ff6700;
                text-align: center;


                img {
                    display: block;
                    margin: 0 auto;
                }
                }

            }

            .info-list{
                position: absolute;
                top: 0;
                left: 67px;
                text-align: start;
                color: #b0b0b0;

                .sites{
                    line-height: 18px;
                    margin: 0;
                
                    a{
                        color: #757575;
                    }
                    .sep{
                        margin: 0 .25em;
                        font-size: 12px;
                        font-family: sans-serif;
                    }

                    a:hover{
                        cursor: pointer;
                        color: #ff6700;
                    }

                    p{
                        line-height: 18px;
                        margin: 0;
                    }
                }
            }

            .info-links{
                height: 28px;
                margin: 4px 0 0;

                img{
                    width: auto;
                    height: 28px;
                }
            }
            .slogn{
                margin: 20px 0 0 200px;
                width: 100%;
                height: 19px;
                background: url("//s01.mifile.cn/i/slogan2016.png") no-repeat center 0;
            }
        }
    }
}