.main{
    width: 100%;
    overflow: hidden;

    .container{
        position: relative;
        width: 1226px;
        margin-left: auto;
        margin-right: auto;
        .swiper-row {
            position: relative;
            margin-top: 0;
            width: 1226px;
            margin-left: auto;
            margin-right: auto;
            height: 460px;
    
            .swiper-container {
            position: relative;
            width: 1226px;
            height: 460px;
            z-index: 10px;
    
            img {
                width: 1226px;
                height: 460px;
            }
    
            .swiper-button-prev {
                width: 30px;
                height: 50px;
                margin-left: 240px;
                color: #ccc;
            }
    
            .swiper-button-next {
                width: 30px;
                height: 50px;
                color: #ccc;
            }
    
            .swiper-pagination {
                width: 100px;
                height: 30px;
                position: absolute;
                bottom: 15px;
                left: 1100px;
                color: #ccc;
            }
            }
    
            .category-item {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 500;
            display: block;
            float: left;
            width: 234px;
            border: 0;
            font-size: 14px;
            padding: 20px 0;
            background-color: rgba(105, 101, 101, 0.6);
    
            li {
                width: 234px;
                height: 42px;
    
    
                .main-menu {
                position: relative;
                width: 234px;
                height: 42px;
                line-height: 42px;
                padding-left: 30px;
                text-align: start;
    
                a {
                    color: #fff;
                    cursor: pointer;
    
                    i {
                    position: absolute;
                    right: 20px;
                    top: 11px;
                    }
                }
                }
    
                .main-menu:hover {
                background-color: #ff6700;
                }
    
                .sub-menu {
                position: absolute;
                top: 0;
                left: 235px;
                z-index: 999;
                height: 460px;
                width: 992px;
                border: 1px solid #e0e0e0;
                background-color: #fff;
                display: none;
    
                .item-list {
                    width: 243px;
                    height: 460px;
                    display: block;
                    float: left;
                    margin-right: 2px;
    
                    li {
                    display: block;
                    width: 240px;
                    height: 76px;
                    line-height: 76px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis; 
    
                    a {
                        display: block;
                        padding: 18px 20px;
                        line-height: 40px;
                        color: #333;
                        font-size: 14px;
                        text-align: start;
    
                        img {
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;
                        }
    
                        .text {
                        width: 172px;
                        line-height: 40px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        }
                    }
                    }
                }
                }
            }
    
            li:hover .sub-menu {
                display: block;
            }
            }
        }
        .home-row {
            height: 170px;
            margin: 20px 0 30px 0;
            background-color: #fff;
    
            .home-left {
            width: 234px;
            height: 170px;
            display: block;
            float: left;
            background-color: #5f5750;
    
    
            .home-ul {
                width: inherit;
                height: 85px;
                display: block;
                margin-left: 11px;
                text-align: center;
    
                &.clearfix::before {
                content: " ";
                display: table;
                }
    
                li {
                position: relative;
                padding: 0 3px;
                width: 70px;
                height: 82px;
                float: left;
    
                a {
                    display: block;
                    color: #fff;
                    font-size: 12px;
                    width: 70px;
                    height: 64px;
                    padding-top: 18px;
                    opacity: .7;
    
                    img {
                    display: block;
                    margin: 0 auto 4px;
                    width: 24px;
                    height: 24px;
                    }
                }
                }
    
                .li-after::after {
                position: absolute;
                content: "";
                background: #665e57;
                top: 6px;
                left: 0;
                width: 1px;
                height: 70px;
                }
    
                li::before {
                position: absolute;
                content: "";
                background: #665e57;
                left: 6px;
                width: 64px;
                height: 1px;
                }
            }
    
            }
    
            .home-right {
            width: 978px;
            display: block;
            float: left;
            margin-left: 14px;
    
            li {
                float: left;
                margin-right: 10px;
    
                img {
                width: 316px;
                height: 170px;
                }
            }
            }
        }
        .cont {
            position: relative;
            width: 1226px;
            margin-left: auto;
            margin-right: auto;
            background-color: #f5f5f5;
            padding-bottom: 10px;

            .row {
                position: relative;
                width: 1226px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                &.flash-sale {
                    width: inherit;
                    height: 398px;
                    .flash-title {
                        position: relative;
                        width: inherit;
                        height: 58px;
                        h2 {
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 58px;
                            line-height: 58px;
                            font-weight: 200;
                            font-size: 22px;
                            color: #333;
                        }
                        .btn {
                            width: 36px !important;
                            height: 24px !important;
                            padding: 3px 5px !important;
                            cursor: pointer;
                            color: #b0b0b0 !important;
                            text-align: center !important;
                            transition: color .5s !important;
                            border: 1px solid #b0b0b0;
            
                            &.swiper-button-prev {
                            position: absolute;
                            top: 50px;
                            left: 1140px !important;
                            }
            
                            &.swiper-button-next {
                            position: absolute;
                            top: 50px;
                            left: 1176px;
                            border-left: none;
                            }
            
            
                        }
                        .btn:hover {
                            color: #ff6709 !important;
                            cursor: pointer;
                        }
                        .swiper-button-prev::after,
                        .swiper-button-next::after {
                            font-size: 16px !important;
                            margin-top: 0;
                        }
                    }
                    .flash-title::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    .flash-container {
                        width: inherit;
                        height: 340px;
                        .flash-timer {
                            width: 234px;
                            height: inherit;
                            float: left;
                            margin-right: 14px;
                            border-top: 1px solid #e53935;
                            background-color: #f1eded;
            
                            h3 {
                            font-size: 21px;
                            color: #ef3a3b;
                            padding-top: 54px;
                            }
            
                            img {
                            width: 34px;
                            height: 53px;
                            margin: 25px auto;
                            }
            
                            h2 {
                            color: rgba(0, 0, 0, .54);
                            font-size: 15px;
                            font-weight: 500;
                            }
            
                            .timer {
                            width: 168px;
                            margin: 28px auto 0;
            
                            .timeruning {
                                width: 46px;
                                height: 46px;
                                background: #605751;
                                color: #fff;
                                font-size: 24px;
                                line-height: 46px;
                                float: left;
                            }
            
                            .icon {
                                width: 15px;
                                float: left;
                                height: 46px;
                                line-height: 46px;
                                color: #605751;
                                font-size: 28px;
                                font-style: normal;
                            }
                            }
            
                        }
        
                    .flash-swiper {
                        width: 978px;
                        height: inherit;
                        float: left;
        
                        .swiper-container {
                        width:978px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
        
                        .carousel {
                            flex:1 auto;
                            display: block;
                            float: left;
                            width: 234px;
                            height: 339px;
                            margin-right: 10px;
                            color: #757575;
                            background-color: #fff;
        
                            .thumb {
                                width: 160px;
                                margin: 39px auto 22px;
        
                                img {
                                width: 160px;
                                height: 160px;
                                }
                            }
        
                            .content-title {
                                margin: 0 20px 3px;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                color: #212121 !important;
                                overflow: hidden;
                                white-space: nowrap;
                            }
        
                            .desc {
                                height: 18px;
                                margin: 0 20px 16px;
                                font-size: 12px;
                                text-overflow: ellipsis;
                                color: #b0b0b0 !important;
                                overflow: hidden;
                                white-space: nowrap;
                            }
        
                            .price {
                                font-size: 14px;
                                margin: 0;
                                color: #ff6709 !important;
        
                                span {
                                text-decoration: line-through;
                                color: #b0b0b0 !important;
                                margin-left: .5em;
                                }
                            }
                        }
                        }
                    }
                    }
                }
                &.home-banner {
                    height: 120px;
                    margin: 22px 0;
        
                    img {
                    width: 100%;
                    height: 100%;
                    }
                }
                &.home-brick {
                    position: relative;
                    height: 686px;
                    margin-bottom: 8px;
                    .brick-title {
                      position: relative;
                      width: inherit;
                      height: 58px;
                      h2 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 58px;
                        line-height: 58px;
                        font-weight: 200;
                        font-size: 22px;
                        color: #333;
                      }
                      .all {
                        position: absolute;
                        top: 0;
                        right: 10px;
                        height: 58px;
                        line-height: 58px;
          
                        span {
                          font-size: 16px;
                          color: #424242;
          
                          i {
                            width: 12px;
                            height: 12px;
                            margin-left: 8px;
                            border-radius: 16px;
                            font-size: 12px;
                            line-height: 12px;
                            background: #b0b0b0;
                            color: #fff;
                            vertical-align: 1px;
                            -webkit-transition: all .4s;
                            transition: all .4s;
                          }
                        }
          
                        .all-li{
                          font-size: 16px;
                          color: #424242;
                          float: left;
                          margin: 0 0 0 30px;
                        }
                        span:hover {
                          color: #ff6709 !important;
                          cursor: pointer;
          
          
                          i{
                              color: #fff !important;
                              background-color: #ff6709 !important;
                          }
                        }
                        .all-li:hover {
                          color: #ff6709 !important;
                          cursor: pointer;
                          text-decoration:underline;
          
          
                        }
                      }
          
                      
                    }
                    .brick-box {
                      height: 628px;
                      width: inherit;
                      .box-minor {
                        width: 234px;
                        height: inherit;
                        float: left;
                        margin-right: 14px;
                        img {
                          width: 100%;
                          height: 100%;
                          -webkit-transition: all 0.2s linear;
                          transition: all 0.2s linear;
                        }
          
                        li{
                          width: 234px;
                          height: 300px;
                          margin-bottom: 28px;
                          display: block;
                          -webkit-transition: all 0.2s linear;
                          transition: all 0.2s linear;
                       }
          
                      img:hover {
                          z-index: 2;
                          -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                          box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                          -webkit-transform: translate3d(0, -2px, 0);
                          transform: translate3d(0, -2px, 0);
                        }
                      }
                      
                   
          
                      .box-main {
                        width: 978px;
                        height: inherit;
                        float: left;
          
                        .box-list {
                          display: block;
                          width: inherit;
                          height: 300px;
          
                          li {
                            float: left;
                            margin-right: 10px;
                            width: 234px;
                            height: 300px;
                            margin-bottom: 28px;
                            background-color: #fff;
                            -webkit-transition: all 0.2s linear;
                            transition: all 0.2s linear;
          
          
                            a {
                              color: #757575;
          
                              .thumb {
                                width: 160px;
                                margin: 10px auto 22px;
          
                                img {
                                  width: 160px;
                                  height: 160px;
                                }
                              }
          
                              .content-title {
                                margin: 0 20px 3px;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                color: #212121 !important;
                                overflow: hidden;
                                white-space: nowrap;
                              }
          
                              .desc {
                                height: 18px;
                                margin: 0 20px 16px;
                                font-size: 12px;
                                text-overflow: ellipsis;
                                color: #b0b0b0 !important;
                                overflow: hidden;
                                white-space: nowrap;
                              }
          
                              .price {
                                font-size: 14px;
                                margin: 0;
                                color: #ff6709 !important;
          
                                span {
                                  text-decoration: line-through;
                                  color: #b0b0b0 !important;
                                }
                              }
                            }
          
                            &.last-child{
                                background-color: initial;
                              a{
                                  display: block;
                                  width: inherit;
                                  height: 143px;
                                  padding-top: 50px;
                                  position: relative;
                                  margin-bottom: 14px;
                                  background-color: #fff;
          
                                  .figure-img{
                                      position: absolute;
                                      top: 32px;
                                      right: 20px;
                                      width: 80px;
                                      height: 80px;
          
                                      img{
                                          width: 80px;
                                          height: 80px;
          
                                      }
                                  }
                                  .title{
                                      margin: -10px 110px 5px 30px;
                                      font-size: 14px;
                                      font-weight: 400;
                                      color: #333;
                                  }
                                  .price{
                                      margin: 0 110px 0 30px;
                                      font-size: 12px;
                                      color: #ff6700;
                                  }
          
                                  .more{
                                      display: block;
                                      margin: 0 110px 0 30px;
                                      font-size: 18px;
                                      color: #333;
                                      text-align: start;
                                      
          
                                      .small{  
                                          display: block;
                                          font-size: 12px;
                                          color: #757575;
                                      }
          
                                      i{
                                          position: absolute;
                                          right: 35px;
                                          top: 48px;
                                          width: 48px;
                                          height: 48px;
                                          border: 2px solid #ff6700;
                                          border-radius: 50%;
                                          font-size: 48px;
                                          line-height: 48px;
                                          color: #ff6700 ;
                                      }
                                  }
                              }
                            }
                          }
                          li:hover {
                              z-index: 2;
                              -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                              box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                              -webkit-transform: translate3d(0, -2px, 0);
                              transform: translate3d(0, -2px, 0);
                            }
                        }
                      }
          
                    }
                }
                &.video-brick{
                      position: relative;
                      margin-bottom: 100px !important;
                      height: 345px;
                      .video-title {
                          position: relative;
                          width: inherit;
                          height: 58px;
                        h2 {
                          position: absolute;
                          left: 0;
                          top: 0;
                          height: 58px;
                          line-height: 58px;
                          font-weight: 200;
                          font-size: 22px;
                          color: #333;
                          }
          
                          .all {
                          position: absolute;
                          top: 0;
                          right: 10px;
                          height: 58px;
                          line-height: 58px;
          
                          span {
                              font-size: 16px;
                              color: #424242;
          
                              i {
                              width: 12px;
                              height: 12px;
                              margin-left: 8px;
                              border-radius: 16px;
                              font-size: 12px;
                              line-height: 12px;
                              background: #b0b0b0;
                              color: #fff;
                              vertical-align: 1px;
                              -webkit-transition: all .4s;
                              transition: all .4s;
                              }
                          }
          
                          .all-li{
                              font-size: 16px;
                              color: #424242;
                              float: left;
                              margin: 0 0 0 30px;
                          }
                          span:hover {
                              color: #ff6709 !important;
                              cursor: pointer;
                          }
                          .all-li:hover {
                              color: #ff6709 !important;
                              cursor: pointer;
                              text-decoration:underline;
                          }
                          }
          
                          
                      }
          
                      .video-box {
                          height: 285px;
                          width: inherit;
                      
                          ul{
                              width: inherit;
                              height:285px !important;
          
                              li{
                                  width: 296px;
                                  height: 285px;
                                  float: left;
                                  display: block;
                                  margin-bottom: 14px;
                                  text-align: center;
                                  background-color: #fff; 
                                  -webkit-transition: all 0.2s linear;
                                  transition: all 0.2s linear;
                                  margin-right: 10px;
                                  position: relative;
          
                                  .video-img{
                                      position: absolute;
                                      width: 296px;
                                      height: 180px;
                                      top:0;
                                      left: 0;
                                      margin-bottom: 28px;
          
                                      img{
                                          width: 296px;
                                          height: 180px;
                                      }
          
                                      button{
                                          position: absolute;
                                          left: 20px;
                                          top: 150px;
                                          width: 32px;
                                          height: 20px;
                                          border: 2px solid #fff;
                                          border-radius: 12px;
                                          background-color: rgba(0, 0, 0, .6);
                                          color:#fff;
                                          transition: all .2s;
                                          overflow: hidden;
                                          line-height: 20px;
          
                                          i{
                                              font-size: 15px;
                                          }
                                      }
          
                                      button:hover{
                                          background-color: #ff6700;
                                      }
                                  }
                                  .video-title{
                                      width: 100%;
                                      position: absolute;
                                      top: 200px;
                                      font-size: 14px;
                                      font-weight: 400;
                                      color: #333;
                                      white-space: nowrap;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                  }
                                  .video-desc{
                                      width: 100%;
                                      position: absolute;
                                      top: 240px;
                                      font-size: 12px;
                                      color: #b0b0b0;
                                      white-space: nowrap;
                                      text-overflow: ellipsis;
                                      overflow: hidden;
                                  }
                              }
                          }
                      }
                }
            }
        }
    }
}