.nav {
    position: relative;
    width: 100%;
    height: 100px;
  
    .nav-row {
      position: relative;
      height: 100px;
      width: inherit;
      display: flex;
      justify-content: space-around;
  
        .nav-logo {
          width: 62px;
          float: left;
          margin-top: 22px;
          margin-left: 25px;
  
          .logo {
            position: relative;
            display: block;
            width: 55px;
            height: 55px;
            overflow: hidden;
            background: url('https://s02.mifile.cn/assets/static/image/mi-logo.png') no-repeat 50% 50%;
            background-color: #ff6700;
            text-align: center;
  
  
            img {
              display: block;
              margin: 0 auto;
            }
          }
  
        }
  
        .nav-list {
          width: 850px;
          float: left;
          display: block;
  
          li {
            z-index: 10;
            float: left;
            height: 88px;
            margin: 0;
            padding: 40px 0 0 20px;
            list-style-type: none;
            font-size: 16px;
            cursor: pointer;
  
            &.nav-title {
              width: 127px;
              text-align: right;
              margin-right: 15px;
  
              a {
                color: #333;
              }
  
              &.companyNav {
                background: url("https://c1.mifile.cn/f/i/16/qiye2016/qiyelogo.png") 50% 50% no-repeat;
                text-align: left !important;
                width: 67px !important;
                height: 50px !important;
                margin: 30px 0 0 10px !important;
              }
  
              .allList {
                display: none;
  
                .category-item {
                  position: absolute;
                  top: 100px;
                  left: 0;
                  z-index: 500;
                  float: left;
                  width: 234px;
                  border: 0;
                  font-size: 14px;
                  border: 1px solid #ff6700;
                  background-color: #fff;
  
                  li {
                    width: 234px;
                    height: 42px;
  
  
                    .main-menu {
                      width: 234px;
                      height: 42px;
                      line-height: 42px;
                      padding-left: 30px;
                      text-align: start;
  
                      a {
                        color: #424242;
                        cursor: pointer;
  
                        i {
                          position: absolute;
                          right: 20px;
                        }
                      }
                    }
  
                    .main-menu:hover {
                      background-color: #ff6700;
                    }
  
                    .sub-menu {
                      display: none;
                      position: absolute;
                      left: 234px;
                      top: 0;
                      z-index: 999;
                      width: 992px;
                      height: 460px;
                      border: 1px solid #e0e0e0;
                      border-left: 0;
                      background: #fff;
                      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                      box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
  
                      .item-list {
                        height: 460px;
                        margin: 0;
                        padding: 2px 0;
                        display: block;
                        float: left;
  
                        li {
                          display: block;
                          width: 245px;
                          height: 76px;
  
                          a {
                            display: block;
                            padding: 18px 20px;
                            line-height: 40px;
                            color: #333;
                            font-size: 14px;
  
                            img {
                              width: 40px;
                              height: 40px;
                              vertical-align: middle;
                            }
  
                            .text {
                              width: 172px;
                              line-height: 40px;
                              white-space: nowrap;
                              text-overflow: ellipsis;
                              overflow: hidden;
                            }
                          }
                        }
                      }
                    }
                  }
  
                  li:hover .sub-menu {
                    display: block;
                  }
                }
              }
            }
  
            &.nav-title:hover .allList {
              display: block;
            }
  
            &.nav-title:hover .category-item {
              display: block;
            }
  
            &.nav-menu {
              display: block;
  
              a {
                color: #333;
              }
  
              a:hover {
                color: #ff6700;
              }
            }
  
            &.nav-link {
              .cont {
                display: block;
                color: #333;
              }
              .cont:hover {
                color: #ff6700;
              }
            }
  
  
            .link-list {
              position: absolute;
              z-index: 999;
              float: left;
              top: 100px;
              left: 0;
              width: 100%;
              height: 240px;
              background-color: #fff;
              display: none;
  
              .item-children {
                width: 1226px;
                margin-left: auto;
                margin-right: auto;
  
                li{
                  display: block;
                  width: 200px;
                  height: 240px;
                  float: left;
  
                  a {
                    display: block;
                    width: 200px;
                    height: 210px;
                    color: #333;
                    font-size: 12px;
                    text-align: center;
  
                    .item-img {
                      width: 200px;
                      height: 110px;
                      border-right: 1px solid #ccc;
  
                      &.last-item {
                        border-right: 1px solid transparent;
                      }
  
                      img {
                        width: 160px;
                        height: 110px;
                        margin-left: auto;
                        margin-right: auto;
                      }
                    }
  
                    .item-title {
                      margin-top: 10px;
                    }
  
                    .item-price {
                      margin-top: 5px;
                      color: #ff6700;
                    }
                  }
                }
  
  
              }
            }
          }
  
          .nav-link:hover .link-list {
            display: block;
            border-top: 1px solid #ccc;
          }
        }
  
        .search {
          width: 296px;
          float: right;
          margin-top: 25px;
          height: 50px;
          margin-right: 25px;
  
          .result-list{
            position: relative;
            float: left;
            width: 223px;
            height: 50px;
            font-size: 14px;
  
            input {
              width: inherit;
              height: 50px;
              line-height: 50px;
              padding: 0 10px;
              border: 1px solid #e0e0e0;
            }
  
            .searchList {
              position: absolute;
              top: 50px;
              left: 0;
              width: inherit;
              display: none;
              z-index: 999;
              background-color: #fff;
              border: 1px solid #ff6700;
              border-top: none;
  
              li {
                  text-align: left;
                a {
                  position: relative;
                  display: block;
                  padding: 6px 15px;
                  font-size: 12px;
                  color: #424242;
                  border: none;
                }
              }
              li:hover{
                  cursor: pointer;
                  background-color: #e0e0e0;
          }
  
             
            }
          }
  
          .btn {
            display: block;
            float: left;
            width: 52px;
            height: inherit;
            border: 1px solid #e0e0e0;
            border-left: none;
            line-height: 24px;
            background: #fff;
  
            i {
              font-size: 20px;
            }
          }
  
  
          .btn:hover {
            background: #ff6700;
          }
        }
  
        .search:hover{
          input{
            border: 1px solid #ff6700 !important;
            
          }
          .searchList {
            display: block;
          }
          .btn{
              border: 1px solid #ff6700 !important;
              border-left: none !important;
          }
         
        }
    }
  }
  
  