<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= htmlWebpackPlugin.options.url %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1843058_a1ipg4z328t.css">
    <link rel="stylesheet" href="/node_modules/swiper/css/swiper.css">
    <link rel="stylesheet" href="/src/assets/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">
    <script type="text/javascript" src="/src/assets/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script type="text/javascript" src="/node_modules/vue-awesome-swiper/dist/vue-awesome-swiper.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>